* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: "balto", sans-serif, Verdana, Tahoma, sans-serif;
}
nav {
    height: 60px;
    background-color: hsl(171, 100%, 25%);
    box-shadow: 0px 3px 4px hsla(0, 0%, 0%, 0.2);
    position: relative;
    z-index: 1000;
}
nav ul {
    height: 60px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "balto";
}
nav li {
    height: 50px;
}
nav #logo-sidebar img {
    height: 100%;
    width: auto;
    padding: 0 20px;
    max-height: 60px; 
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f0f3bf;
    font-size: 20px;
    line-height: 60px;
    font-weight: 550;
}
nav a:hover {
    background-color: #04A996;
    border-radius: 20px;
}
nav li:first-child{
    margin-right: auto;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: hsla(171, 100%, 25%, 0.51);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.menu-button{
    display: none;
}
html {
    scroll-behavior: smooth;
}
@media(max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}
@keyframes gradient1 {
    0% {
        background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    }
    25% {
        background: linear-gradient(-45deg, #e5d0a8, #f0f3bf);
    }
    40% {
        background: linear-gradient(-45deg, #e5d0a8, #f0f3bf);
    }
    100% {
        background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    }
}
.banner {
    background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    background-size: 400% 400%;
    animation: gradient1 15s ease infinite;
    padding: 10% 5%;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.banner .content {
    max-width: 100%;
    font-size: 20px;
    color:#04A996;
    text-align: left; 
}
.banner .images {
    max-width: calc(30% - 20px);
    height: auto;
}
@keyframes gradient2 {
    0% {
        background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    }
    25% {
        background: linear-gradient(-45deg, #e5d0a8, #f0f3bf);
    }
    40% {
        background: linear-gradient(-45deg, #e5d0a8, #f0f3bf);
    }
    100% {
        background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    }
}
.contatti {
    background: linear-gradient(-45deg, #f0f3bf, #e5d0a8);
    background-size: 400% 400%;
    animation: gradient2 15s ease infinite;
    padding: 200px 100px 100px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.contatti .content {
    max-width: 100%;
    height: auto;
}
.contatti h2 {
    font-size: 3em;
    color:  #04A996;
}
#testo-contatti {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 550;
    color:  #04A996;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #007f6d;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    resize: vertical;
}
input[type=submit] {
    background-color: #f0f3bf;
    color: #007f6d;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #e5d0a8;
}
.container {
    border-radius: 5px;
    background-color: #04A996;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container label {
    font-weight: 550;
    color: #f0f3bf;
}
@keyframes gradient3 {
    0% {
        background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    }
    25% {
        background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    }
    40% {
        background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    }
    100% {
        background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    }
}
.progetti {
    background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    background-size: 400% 400%;
    animation: gradient3 15s ease infinite;
    padding: 200px 100px 100px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.progetti .content {
    max-width: 700px;
}
.progetti h2 {
    font-size: 3em;
    color: rgb(240, 243, 191);
}
.progetti p {
    font-size: 1.2em;
    color: #f0f3bf;
}
.social-icons {
    text-align: left;
    margin-top: 20px;
}
.balto {
  font-family: "Balto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.progetti {
    background: linear-gradient(-45deg, #04a996, #31b997,#098091);
    background-size: 400% 400%;
    animation: gradient3 15s ease infinite;
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.portfolio-item video {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.portfolio-item video:hover {
    transform: scale(1.05);
}
.portfolio-item img:hover {
    transform: scale(1.05);
}
.portfolio-item p {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 510;
    color: #f0f3bf;
}
.footer {
    background-color:  rgba(4, 169, 150, 0.962);
    color:  rgb(240, 243, 191);
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    box-shadow: 0 -3px 3px hsla(0, 0%, 0%, 0.2);
}
