*
{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    font-family: "balto", sans-serif, Verdana, Tahoma, sans-serif;
}
header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background-color: rgba(4, 169, 150, 0.962);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}
header #navigation 
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}
header #navigation li 
{
    list-style: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
}
header #navigation li a
{
    color: rgb(240, 243, 191);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
#icone-header 
{
    float: right;
}
#icone-header a 
{
    color: rgb(240, 243, 191);
    text-decoration: none;
    padding: 2px;
}
.banner 
{
    background: rgb(240, 243, 191);
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner
{
    background: rgb(240, 243, 191);
    padding: 200px 100px 100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .content
{
    max-width: 700px;
}
.banner .content h2
{
    font-size: 3em;
    color: #04A996;
}
.banner .content p
{
    font-size: 1.2em;
    color: #31B997;
}
.banner .images
{
    max-width: 400px;
    margin-left: 30px;
}
.progetti
{
    background: rgba(4, 169, 150, 0.962);
    padding: 200px 100px 100px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.progetti .content
{
    max-width: 700px;
}
.progetti h2
{
    font-size: 3em;
    color: rgb(240, 243, 191);
}
.progetti p
{
    font-size: 1.2em;
    color: rgb(240, 243, 191);
}
.contatti
{
    background: rgb(240, 243, 191);
    padding: 200px 100px 100px;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}
.contatti .content
{
    max-width: 700px;
}
.contatti h2
{
    font-size: 3em;
    color:  #04A996;
}
.contatti p
{
    font-size: 1.2em;
    color: #31B997;
}
.social-icons
{
    text-align: left;
    margin-top: 20px;
}
.balto
{
  font-family: "Balto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.carousel 
{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
}
.carousel-inner 
{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}
.carousel-item img 
{
    width: 700px; 
    height: 500px; 
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
